.modulResult{
  .msgBox{
    margin-top: .2rem;
    background: #fff;
    .boxTitle{
      height: .82rem;
      padding: 0 .3rem;
      line-height: .82rem;
      font-size: .34rem;
      color: #333;
      border-bottom: 1px solid #ededed;
    }
    .msg{
      padding: .1rem .3rem;
    }
  }
  .showItem {
    .name {
      width: 2.3rem;
    }
    .value {
      width: 4.5rem;
    }
  }
}
.mt20{
  margin-top: .2rem;
}
.showItem{
  .phone{
    .people, .tel {
      float: left;
      height: .56rem;
      line-height: .56rem;
      margin-right: .1rem;
      color: #333;
    }
    .pic{
      float: left;
      width: .56rem;
      height: .56rem;
      font-size: .4rem;
      color: #3395ff;
      text-align: center;
      line-height: .56rem;
    }
  }
}