.headerTop{
  position: relative;
  display: flex;
  height: .98rem;
  background: #fff;
  border-bottom: 1px solid #ededed;
  .city{
    padding-left: .3rem;
    min-width: 1.5rem;
    height: .98rem;
    font-size: .34rem;
    color: #333;
    line-height: .98rem;
    text-align: center;
    .cityName {
      float: left;
      max-width: 1.8rem;
      height: .98rem;
      line-height: .98rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .icon{
      float: left;
      width: .4rem;
      height: .98rem;
      line-height: .98rem;
      text-align: left;
    }
  }
  .searchBtn{
    flex: 1;
    padding: .21rem 0;
    ._wrap{
      height: .56rem;
      background: #EFEFEF;
      border-radius: 3px;
      .icon{
        float: left;
        width: .56rem;
        height: .56rem;
        text-align: center;
        line-height: .56rem;
        font-size: .32rem;
        color: #999;
      }
      .placeholder{
        float: left;
        height: .56rem;
        line-height: .56rem;
        font-size: .28rem;
        color: #999;
      }
    }
  }
  .changeBtn{
    display: block;
    width: 1rem;
    height: .98rem;
    font-size: .56rem;
    color: #3395ff;
    line-height: .98rem;
    text-align: center;
    &.icon-ditu{
      font-size: .46rem;
    }
  }
}