.headerTop{
  position: relative;
  display: flex;
  height: .98rem;
  background: #fff;
  border-bottom: 1px solid #ededed;
  .city{
    padding-left: .3rem;
    min-width: 1.5rem;
    height: .98rem;
    font-size: .34rem;
    color: #333;
    line-height: .98rem;
    text-align: center;
    .cityName {
      float: left;
      max-width: 1.8rem;
      height: .98rem;
      line-height: .98rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .icon{
      float: left;
      width: .4rem;
      height: .98rem;
      line-height: .98rem;
      text-align: left;
    }
  }
  .searchBtn{
    flex: 1;
    padding: .21rem 0;
    ._wrap{
      height: .56rem;
      background: #EFEFEF;
      border-radius: 3px;
      .icon{
        float: left;
        width: .56rem;
        height: .56rem;
        text-align: center;
        line-height: .56rem;
        font-size: .32rem;
        color: #999;
      }
      .placeholder{
        float: left;
        height: .56rem;
        line-height: .56rem;
        font-size: .28rem;
        color: #999;
      }
    }
  }
  .changeBtn{
    display: block;
    width: 1rem;
    height: .98rem;
    font-size: .56rem;
    color: #3395ff;
    line-height: .98rem;
    text-align: center;
    &.icon-ditu{
      font-size: .46rem;
    }
  }
  .selectList{
    position: absolute;
    top: 0.98rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100vw;
    height: calc(100vh - 1.86rem);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .mark{
      position: absolute;
      left: 0;
      top: 0;
      z-index: 9;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: .5;
    }
    ._content{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      max-height: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      background: #fff;
    }
    .items{
      height: .7rem;
      padding: 0 .3rem;
      font-size: .28rem;
      line-height: .7rem;
      color: #333;
      border-bottom: 1px solid #ededed;
      &.isSelect{
        color: #3395ff;
      }
    }
    .auto{
      padding: .3rem;
      .name{
        float: left;
        height: .58rem;
        line-height: .58rem;
        font-size: .3rem;
        color: #333;
      }
      .inputBox {
        float: left;
        width: 1.62rem;
        height: .58rem;
        margin: 0 .1rem;
        font-size: .28rem;
        color: #333;
        border: 1px solid #DDDEE3;
        border-radius: 3px;
        text-align: center;
        &::placeholder{
          color: #999;
        }
      }
      .aline{
        float: left;
        height: .58rem;
        line-height: .58rem;
        font-size: .3rem;
        color: #333;
      }
      .btn{
        float: right;
        width: 1.6rem;
        height: .58rem;
        line-height: .58rem;
        text-align: center;
        background: #3395ff;
        font-size: .32rem;
        color: #fff;
        border-radius: 3px;
      }
    }
  }
}