@import 'reset';

html,body {
  width: 100vw;
  height:100%;
  overflow-x: hidden;
  background-color: #F0F2F4;
}
#root,.page{
  height:100%;
}
#root {
  display:flex;
  //height: 100vh;
  flex-direction: column;
}
#root > .app_bd{
  flex:1;
  overflow:hidden;
  height:100%;
}
#root > .app_bd > .tab-bd{
  height: calc(100% - 55px);
}
.page {
  display:flex;
  flex-direction: column;
  background-color: #F0F2F4;
}
.page_sub_hd {
  height:36px;
  line-height:36px;
  background:#f0f2f4;
}
.page_bd {
  flex:1;
  height:100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch; 
  -webkit-transform: translateZ(0px);
  transform: translate(0px);
  background-color: #F0F2F4;
}
.page_ft {
  height:45px;
}
.page_modal {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  width:100%;
  height:100%;
  z-index:99;
}
.tab-bar {
  height: 55px;
  position: relative;
  z-index: 11;
}
input,select,textarea,button{outline:none;border:none;background: none;}
[v-cloak] {
  display: none;
}
*{
	word-break: break-all;
	box-sizing: border-box;
}
input{
	-webkit-appearance: none;
	border-radius: 0;
}
::-webkit-scrollbar {
	display: none;
}
textarea{
	font: normal 14px Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
	resize:none;
	border: none;
}
.page_bg,.page_modal{
  background-color: #F0F2F4;
}