.showItem{
	position: relative;
	height: .56rem;
	border-bottom: 1px solid #E9E9E9;
	.name{
		float: left;
		width: 2.2rem;
		height: .56rem;
		font-size: .3rem;
		color: #999;
		text-align: left;
		line-height: .56rem;
	}
	.value{
		float: left;
		width: 4.6rem;
		height: .56rem;
		line-height: .56rem;
		font-size: .3rem;
		color: #ACB3BF;
		text-align: left;
		color: #333;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.icon{
		position: absolute;
		right: .2rem;
		top: 0;
		display: block;
		width: .4rem;
		height: .56rem;
		font-size: .46rem;
		line-height: .56rem;
    color: #999;
    text-align: right;
	}
}
.noneBb {
  border-bottom: none !important;
}